html{
  scroll-behavior: smooth;
}

/* Animacja przy otwieraniu strony */

@keyframes slideUp{
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

body{
  background-color: #8EE4AF;
  font-family: sans-serif;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Ukrywa scroll dla firefox i microsoft edge */
  scrollbar-width: none;
}
body::-webkit-scrollbar{ /* Ukrywa scroll dla chrome, safari i opery */
  display: none; 
  
}
.menu{
  color: white;
  text-decoration: none;
  float: right;
  position: fixed;
  font-size: 50px;
  word-spacing: 20px;
  display: inline;
  cursor: pointer;
  text-align: right;
  margin-top: -40px;
  text-align: right;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-name: slideUp;
}
#kontaktt{
  margin-right: 20px;
}
/*animacja najezdzania na tekst menu */

.animacjamenu{
  color: white;
  font-weight: 600;
  text-decoration: none;
  background:
    linear-gradient(
      to right,
      #8EE4AF,
      #8EE4AF
    ),
    linear-gradient(
      to right,
      rgb(26, 12, 228),
      rgb(31, 6, 145),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}
.animacjamenu:hover {
  background-size: 0 3px, 100% 3px;
}


#github{
  width: 2.2%;
  margin-left: 20px;
  margin-top: 20px;
  animation-duration: 2s;  /* Animacja przy otwieraniu strony */
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-name: slideUp;
}

/* animacja logo githuba */

.animacjalogo #github{
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(1deg) scale(1.4);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.animacjalogo:hover #github {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}
/* Animacja kart */
.umiejetnosci{
  margin: 1rem;
  color: white;
  font-weight: bold;
  text-align: left; 
}
.cardflip{
  background-color: transparent;
  display: inline-block;
  margin-right: auto; 
  margin-bottom: 200px;
  margin-left: 150px;
  margin-top: -1000px;
  width: 400px;
  height: 400px;
}
.h1umiejetnosci{
  font-size: 50px;
  font-weight: bold;
}
.flipcard{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.cardflip:hover .flipcard{
  transform: rotateY(180deg);
}
.flipcardfront, .flipcardback{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flipcardfront{
  background-color: #13c419;
  color: black;
}
.flipcardback {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
/* miejsce do skontaktowania sie */
#kontakt{
  text-align: center;
  color: white;
}
#przycisk{
  text-align: center;
  width: 10%;
  background-color: #13c419;
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 20px;
}
#przycisk:hover{
  background-color: #62ff67;
}
.input{
  border-radius: 20px;
  width: 20%;
  height: 50%;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
}
.stopka{
  background-color: #048809;
  height: 100px;
  width: 100%;
}