body{
  background-color: #8EE4AF;
  font-family: Raleway,sans-serif;
}
.menu{
  color: lightblue;
  text-decoration: none;
  float: right;
  font-size: 50px;
  word-spacing:10px;
  display: inline;
  cursor: pointer;
  text-align: right;
  margin-top: -58px;
}
a{
  text-decoration: none;
}
#github{
  width: 2.3%;
  margin-left: 15px;
  margin-top: 5px;
}
.animacjalogo #github{
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(1deg) scale(1.4);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.animacjalogo:hover #github {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}
