body{
  background-color: #8EE4AF;
  font-family: Raleway,sans-serif;
}
.menu{
  color: lightblue;
  text-decoration: none;
  float: right;
  font-size: 50px;
  word-spacing:10px;
  display: inline;
  cursor: pointer;
}
#github{
  width: 3%;
}